<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @raw_program.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @raw_program.subtitle %>
</p>

<p>
  <strong>Category:</strong>
  <%= @raw_program.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @raw_program.description %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @raw_program.start_datetime %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @raw_program.end_datetime %>
</p>

<p>
  <strong>Region name:</strong>
  <%= @raw_program.region_name %>
</p>

<p>
  <strong>Channel xmltv:</strong>
  <%= @raw_program.channel_xmltv_id %>
</p>

<%= link_to 'Edit', edit_raw_program_path(@raw_program) %> |
<%= link_to 'Back', raw_programs_path %>
