	<div data-role="header">
              <a href="/" data-icon="home">Home</a>
	      <h1><%= @region.name %></h1>  
	</div><!-- /header -->
	<div class="ui-bar ui-bar-b centre">
                <h3>EVERY SPORT.  EVERY CHANNEL.</h3>
      </div>
	<%= render "layouts/mobile_advertisment" %>
	<div data-role="content">
          <p>View TV coverage for a sport below.</p>
          <ul data-role="listview" data-inset="true" data-theme="g">
            <% @sports.each do |sport| %>
                <li><%= link_to sport.name, URI.escape("/"+@region.name+"/"+sport.name+"/") %></li>      
            <% end %>
          </ul>   
        </div><!-- /content -->
	<%= render "layouts/mobile_advertisment" %>
	<%= render "layouts/mobile_footer" %>